:root {
    --white: #FFFFFF;;
    --black: #484848;
    --black-light: #424242;
    --green: #01996D;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

@font-face {
    font-family: 'Georgia Bold';
    src: url('Georgia-Bold.eot');
    src: url('Georgia-Bold.eot?#iefix') format('embedded-opentype'),
    url('Georgia-Bold.woff') format('woff'),
    url('Georgia-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.header {
    padding: 1rem 0;
}

.container {
    width: 100%;
    max-width: 1300px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin:0 auto;
}

.header_inner {
    display: flex;
    justify-content: space-between;
}


.nav {
    display: inline;
    padding-left: 16px;
}

.nav_button {
    list-style-type: none;
    display: inline;
    padding-right: 71px;
}

a {
    text-decoration: none;
}

.buttons {
    display: inline;
    vertical-align: center;
    padding-right: 35px;
}

.nav_text {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.green_button {
    position: relative;
    padding: 13px 50px;
    border-radius: 5px;
    background-color: var(--green);
    font-size: 20px;
    color: #FFFFFF;
}

.bg {
    height: 895px;
    background-image: url(images/BG.png);
    background-repeat:no-repeat;
    background-position:center;

}

.bg_zag {
    margin-top: auto;
    padding-top: 175px;
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 65px;
    color: #01996D;
}

.bg_text {
    font-size: 20px;
    margin-bottom: 60px;
}

.how_it_works_zag {
    margin-top: 130px;
    font-size: 24px;
}

.how_it_works_inner {
    display: flex;
    justify-content: space-between;
}

.how_it_works_text {
    margin-top: auto;
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 50px;
    color: #01996D;
}

.block {
    display: flex;
}

.block1 {
    position: absolute;
    width: 33%;
}

.block_number {
    font-family: 'Georgia';
    font-size: 150px;
    color: rgba(1, 153, 109, 0.2);
}

.block_zag {
    position: relative;
}

