*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

video {
  height: 100%;
  width: 100%;
}

.section {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 60px;
}

.section:last-child {
  padding-top: 60px;
  padding-bottom: 120px;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1300px;
}

.container .inner {
  display: flex;
  flex: auto;
  justify-content: space-between;
}

.heading-text {
  margin-top: 20px;
  margin-bottom: 32px;
  font-family: "Georgia", serif;
  font-weight: bold;
  color: rgb(1, 153, 109);
}

.white-text {
  color: white !important;
}

.empty-block-height {
  height: 40px;
}

.text-size-24 {
  font-size: 24px;
}

.text-size-28 {
  font-size: 28px;
}

.text-size-52 {
  font-size: 52px;
}

.first-screen_size-64 {
  font-size: 64px;
}

.green-button {
  position: relative;
  padding: 12px 52px;
  border-radius: 8px;
  background-color: #01996D;
}

.nav-button {
  display: inline;
  padding-right: 72px;
  list-style-type: none;
}

.section.menu {
  padding: 16px 0;
}

.section.menu .container .inner .menu__navigation {
  display: inline;
  padding-left: 16px;
}

.container .inner a {
  font-weight: normal;
  line-height: 24px;
  color: #000000;
}

.container .inner .menu__buttons {
  display: inline;
  padding-right: 36px;
  vertical-align: center;
}

.section.first-screen {
  height: 896px;
  background-image: url("../images/BG.png");
  background-repeat: no-repeat;
  background-position: center;
}

.section.how-it-works .how-it-works__container {
  display: flex;
  justify-content: space-between;
}

.how-it-works_text {
  flex: 40%;
  margin: 0 auto;
  padding-left: 10px;
}

.section.how-it-works .how-it-works__container .how-it-works__block {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.section.how-it-works .how-it-works__container .how-it-works__block:nth-child(2) {
  margin-top: 220px;
  padding: 0 52px;
}

.section.how-it-works .how-it-works__container .how-it-works__block:nth-child(3) {
  margin-top: 52px;
}

.section.how-it-works .how-it-works__container .how-it-works__block .how-it-works__number {
  position: relative;
  margin: 0;
  font-weight: normal;
  opacity: 0.2;
  z-index: 1;
  font-size: 152px;
}

.section.how-it-works .how-it-works__container .how-it-works__block .how-it-works__heading {
  position: absolute;
  top: 80px;
  font-size: 32px;
  font-weight: bold;
  z-index: 2;
}

.section.how-it-works .how-it-works__container .how-it-works__block .how-it-works_left1 {
  left: 88px;
}

.section.how-it-works .how-it-works__container .how-it-works__block .how-it-works_left2 {
  left: 120px;
}

.section.how-it-works .how-it-works__container .how-it-works__block .how-it-works_left3 {
  left: 136px;
}

.section.how-it-works .how-it-works__container .how-it-works__block img {
  height: auto;
  width: 100%;
  padding-top: 60px;
  border-radius: 12px;
}

.section.story {
  background: #245852;
}

.section.story .container {
  display: flex;
  width: 100%;
  max-width: 1508px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
}

.section.story .story__video {
  display: flex;
  width: 896px;
  height: 516px;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
}

.section.our-product .container {
  padding-bottom: 240px;
}

.section.our-product .our-product__images {
  position: relative;
  height: auto;
  width: 636px;
  background: rgba(1, 153, 109, 0.2);
  border-radius: 16px;
}

.section.our-product .our-product__images img {
  display: block;
  margin: 0 auto;
}

.section.our-product .our-product_text {
  text-align: center;
}

.section.our-product .our-product__description {
  margin-left: 28px;
}

.section.our-product .our-product__over {
  position: absolute;
  width: 352px;
  top: 380px;
  left: -60px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 24px 44px 36px 52px;
  filter: drop-shadow(0px 4px 16px rgba(165, 165, 165, 0.25));
}

.section.our-product .our-product__over .our-product_small-line {
  width: 45%;
}

.section.our-product .our-product__over img {
  display: block;
  margin: 0 auto;
}

.section.our-product .our-product__over .our-product_small-heading {
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.section.alivio {
  background: #245852;
}

.section.alivio li {
  margin-bottom: 60px;
}

.section.alivio li:last-child {
  margin-bottom: 0;
}

.section.alivio .container li:first-child {
  font-size: 40px;
}

footer .container .nav-button {
  display: block;
}

@media screen and (max-width: 1569px) {
  .section.story .container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .section.story .container .inner {
    flex-direction: column;
    align-items: center;
  }

  .section.story .container .inner .story__text {
    text-align: center;
    padding-bottom: 40px;
  }

}

@media screen and (max-width: 1366px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .green-button {
    padding: 12px 20px;
  }

  .section.story .container {
    max-width: 1300px;
  }

  .section.story .story__video {
    width: 752px;
    height: 452px;
  }
}

@media screen and (max-width: 1112px) {
  .section.first-screen {
    height: 704px;
  }

  .container .inner .menu__buttons {
    padding: 0;
    margin-right: 1px;
  }

  .section.story .container {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1025px) {
  .text-size-52 {
    font-size: 48px;
  }

  .nav-button {
    padding-right: 32px;
  }

  .container .inner .menu__buttons {
    margin-right: 8px;
  }

  .green-button {
    padding: 12px 16px;
  }

  .empty-block-height {
    height: 16px;
  }

  .section:last-child {
    padding-bottom: 60px;
  }

  .section.how-it-works {
    padding-top: 60px;
  }

  .section.how-it-works .container .inner {
    display: block;
    text-align: center;
    padding-top: 10px;
  }

  .section.how-it-works .how-it-works__container .how-it-works__block .how-it-works__heading {
    top:68px;
  }

  .section.story .inner {
    flex-direction: column;
  }

  .section.story .container .inner .story__text {
    padding-bottom: 0;
  }

  .section.story .story__video {
    padding: 0;
    padding: 48px 0 24px 0;
    align-self: center;
  }

  .section.our-product {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 867px) {
  .section {
    height: 100%;
    padding-top: 64px;
  }

  .nav-button {
    padding: 10px;
  }

  .first-screen_size64 {
    font-size: 40px;
  }

  .text-size-52 {
    font-size: 32px;
  }

  .text-size-28 {
    font-size: 24px;
  }

  .heading-text {
    margin-top: 10px;
  }

  .section.menu .container .inner {
    flex-direction: column-reverse;
  }

  .section.menu img {
    display: none;
  }

  .section.menu .container .inner .menu__navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .section.menu .menu__buttons-sign-start {
    text-align: right;
  }

  .section.first-screen {
    height: 100%;
    background-image: url("../images/BG2.png");
    background-size: cover;
    background-position: center;
    padding-top: 120px;
  }

  .section.how-it-works .how-it-works__container {
    flex-direction: column;
  }

  .section.how-it-works .how-it-works__container .how-it-works__block img {
    padding-top: 16px;
  }

  .section.how-it-works .how-it-works__container .how-it-works__block:nth-child(2) {
    margin-top: 24px;
    padding: 0;
  }

  .section.how-it-works .how-it-works__container .how-it-works__block:nth-child(3) {
    margin-top: 24px;
  }

  .section.story .story__video {
    width: 100%;
    height: 100%;
    padding: 32px 0 16px 0;
  }

  .section.our-product {
    margin-bottom: 160px;
    padding: 0;
  }

  .section.our-product .container .inner {
    flex-direction: column-reverse;
  }

  .section.our-product .our-product__images {
    width: 100%;
  }

  .section.our-product .container {
    padding: 0;
  }

  .section.our-product .our-product__description {
    padding: 0 16px 40px 16px;
  }

  .section.our-product .our-product__over {
    width: 296px;
    top: 384px;
    left:14px;
    padding: 16px 12px 16px 12px;
  }

  .section.alivio li {
    margin-bottom: 40px;
  }
}