*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

header {
  padding: 16px 0;
}

.heading__text {
  margin-top: auto;
  font-family: "Georgia";
  font-weight: bold;
  color: #01996D;
}

.container .header_inner {
  display: flex;
  justify-content: space-between;
}

.container .header_inner .nav {
  display: inline;
  padding-left: 16px;
}

.container .header_inner .nav_button {
  display: inline;
  list-style-type: none;
  padding-right: 71px;
}

.container .header_inner .buttons {
  display: inline;
  vertical-align: center;
  padding-right: 35px;
}

.container .header_inner .nav_text {
  font-weight: normal;
  line-height: 24px;
  color: #000000;
}

.container .green_button {
  position: relative;
  padding: 13px 50px;
  border-radius: 5px;
  background-color: #01996D;
  color: #FFFFFF;
}

.section.bg {
  height: 895px;
  background-image: url("../images/BG.png");
  background-repeat: no-repeat;
  background-position: center;
}

.section.bg .bg_zag {
  padding-top: 175px;
  font-size: 65px;
}

.section.bg .bg_text {
  margin-bottom: 60px;
}

.section.how_it_works .how_it_works_zag {
  margin-top: 130px;
  font-size: 24px;
}

.section.how_it_works .how_it_works_inner {
  display: flex;
  justify-content: space-between;
}

.section.how_it_works .how_it_works_text {
  font-size: 50px;
}

.section.how_it_works .block__container {
  display: flex;
  justify-content: space-around;
}

.section.how_it_works .block__container .block {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.section.how_it_works .block__container .block:nth-child(2) {
  margin-top: 220px;
  padding: 0 25px;
}

.section.how_it_works .block__container .block:nth-child(3) {
  margin-top: 50px;
}

.section.how_it_works .block__container .block .text {
  align-self: flex-start;
}

.section.how_it_works .block__container .block .block_number {
  position: relative;
  font-size: 150px;
  font-weight: normal;
  opacity: 0.2;
  margin: 0;
  z-index: 1;
}

.section.how_it_works .block__container .block .text.heading {
  position: absolute;
  top: 80px;
  z-index: 2;
  font-size: 30px;
}

.section.how_it_works .block__container .block .block_zag1 {
  left: 88px;
}

.section.how_it_works .block__container .block .block_zag2 {
  left: 60px;
}

.section.how_it_works .block__container .block .block_zag3 {
  left: 120px;
}

.section.how_it_works .block__container .block .block_text {
  position: relative;
  font-weight: 500;
  color: #424242;
}

.section.how_it_works .block__container .block .block_img {
  margin-top: 60px;
  border-radius: 12px;
}