*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
body a {
  text-decoration: none;
  color: white;
}
body a:visited {
  color: white;
}
body video {
  height: auto;
  width: 90%;
}
body .empty-block-height {
  padding: 10px 0px 5px 0px;
}
body section, body .section {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 60px;
}
body section .container, body .section .container {
  height: 100%;
  width: 100%;
  max-width: 1300px;
  padding-left: 24px;
  padding-right: 24px;
}
body section .container .green-button, body .section .container .green-button {
  position: relative;
  padding: 12px 52px;
  border: 1px solid #01996D;
  border-radius: 8px;
  background-color: #01996D;
  color: white;
  font-size: 20px;
}
body section .container .green-button:hover, body .section .container .green-button:hover {
  background-color: #E56C41;
  top: -3px;
  border: 1px solid #D2691E;
}
body section .container .nav-button, body .section .container .nav-button {
  display: inline;
  padding-right: 50px;
  list-style-type: none;
}
body section .container .inner, body .section .container .inner {
  display: flex;
  flex: auto;
  justify-content: space-between;
  align-items: center;
}
body section .container .inner a, body .section .container .inner a {
  font-weight: normal;
  line-height: 24px;
  color: #000000;
}
body section .container .inner .heading-text, body .section .container .inner .heading-text {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 32px;
  font-family: "Georgia", serif;
  font-weight: bold;
  color: #01996d;
  font-size: 52px;
}
body section .container .inner .menu__navigation, body .section .container .inner .menu__navigation {
  display: inline;
  padding-left: 5px;
}
body section .container .inner .menu__navigation a:hover, body .section .container .inner .menu__navigation a:hover {
  color: #01996D !important;
}
body section .container .inner .menu__buttons, body .section .container .inner .menu__buttons {
  display: inline;
  padding-right: 20px;
  vertical-align: center;
}
body section .container .inner .menu__link, body .section .container .inner .menu__link {
  position: relative;
  padding: 0px;
  border: 0px;
  background-color: white;
  color: black;
  font-size: 20px;
}
body section .container .inner .menu__link:hover, body .section .container .inner .menu__link:hover {
  color: #01996D;
}
body .menu {
  padding: 16px 0;
}
body .menu li:last-child {
  padding-right: 0;
}
body .first-screen {
  height: 896px;
  background-image: url("../images/BG.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
body .first-screen p {
  max-width: 435px;
}
body .first-screen .first-screen__heading {
  width: 100%;
  max-width: 435px;
  margin-top: 20px;
  margin-bottom: 32px;
  font-family: "Georgia", serif;
  font-weight: bold;
  color: #01996d;
  font-size: 64px;
}
body .how-it-works .container .how-it-works__heading {
  font-size: 24px;
}
body .how-it-works .container .inner .heading-text {
  flex: 45%;
}
body .how-it-works .container .inner .how-it-works__description {
  flex: 45%;
  margin: 0 auto;
  padding-left: 40px;
}
body .how-it-works .container .how-it-works__container {
  display: flex;
  justify-content: space-between;
}
body .how-it-works .container .how-it-works__container .how-it-works__block {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
}
body .how-it-works .container .how-it-works__container .how-it-works__block img {
  height: auto;
  width: 100%;
  margin-top: 60px;
  border-radius: 12px;
}
body .how-it-works .container .how-it-works__container .how-it-works__block .how-it-works__number {
  width: 100%;
  font-family: "Georgia", serif;
  color: #01996d;
  position: relative;
  margin: 0;
  font-weight: normal;
  opacity: 0.2;
  z-index: 1;
  font-size: 152px;
}
body .how-it-works .container .how-it-works__container .how-it-works__block .how-it-works__text {
  position: absolute;
  top: 80px;
  font-size: 32px;
  font-weight: bold;
  z-index: 2;
}
body .how-it-works .container .how-it-works__container .how-it-works__block .how-it-works--left1 {
  left: 88px;
}
body .how-it-works .container .how-it-works__container .how-it-works__block .how-it-works--left2 {
  left: 120px;
}
body .how-it-works .container .how-it-works__container .how-it-works__block .how-it-works--left3 {
  left: 136px;
}
body .how-it-works .container .how-it-works__container .how-it-works__block:nth-child(2) {
  margin-top: 220px;
  padding: 0 52px;
}
body .how-it-works .container .how-it-works__container .how-it-works__block:nth-child(3) {
  margin-top: 52px;
}
body .story {
  background: #245852;
}
body .story .container {
  display: flex;
  width: 100%;
  max-width: 1508px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
}
body .story .container .inner .heading-text {
  color: white;
}
body .story .container .inner .story__text {
  font-size: 28px;
  color: white;
}
body .story .container .inner .story__video {
  display: flex;
  position: relative;
  width: 816px;
  height: 436px;
  align-items: center;
  justify-content: center;
}
body .story .container .inner .story__video #playButton {
  position: absolute;
  z-index: 2;
}
body .story .container .inner .story__video #playButton:hover {
  transform: scale(1.3);
}
body .story .container .inner .story__video #story-video {
  z-index: 1;
}
body .our-product .container {
  padding-bottom: 240px;
}
body .our-product .container .inner .our-product__images {
  position: relative;
  height: auto;
  width: 636px;
  background: rgba(1, 153, 109, 0.2);
  border-radius: 16px;
}
body .our-product .container .inner .our-product__images img {
  display: block;
  margin: 0 auto;
}
body .our-product .container .inner .our-product__images .our-product__over .our-product__text {
  text-align: center;
}
body .our-product .container .inner .our-product__images .our-product__over {
  position: absolute;
  width: 352px;
  top: 380px;
  left: -60px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 24px 44px 36px 52px;
  filter: drop-shadow(0px 4px 16px rgba(165, 165, 165, 0.25));
}
body .our-product .container .inner .our-product__images .our-product__over img {
  display: block;
  margin: 0 auto;
}
body .our-product .container .inner .our-product__images .our-product__over .our-product_small-line {
  width: 45%;
}
body .our-product .container .inner .our-product__images .our-product__over .our-product_small-heading {
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
body .our-product .container .inner .our-product__description {
  margin-left: 28px;
}
body .our-product .container .inner .our-product__description .our-product__heading {
  font-size: 24px;
}
body .alivio {
  padding-top: 60px;
  padding-bottom: 120px;
  background: #245852;
}
body .alivio .container .alivio__link {
  font-size: 28px;
}
body .alivio .container .alivio__link li {
  margin-bottom: 60px;
}
body .alivio .container .alivio__link li:first-child {
  font-size: 40px;
}
body .alivio .container .alivio__link li:last-child {
  margin-bottom: 0;
}
body .alivio .container .alivio__link .nav-button {
  display: block;
}
body .alivio .container .alivio__link .nav-button a:hover {
  color: #8B4513;
}
body .popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.8s ease 0s;
}
body .popup .popup__body {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
  z-index: 0;
}
body .popup .popup__body .popup__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #ffffff;
  color: #000;
  width: 760px;
  padding: 30px;
  box-shadow: 0 2px 40px rgba(255, 255, 255, 0.5);
}
body .popup .popup__body .popup__content .popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: black;
  border: none;
  background-color: #fff;
}
body .popup .popup__body .popup__content .popup__close:hover {
  top: 7px;
  transform: scale(1.1);
}
body .popup .popup__body .popup__content .popup__block-form {
  width: 45%;
}
body .popup .popup__body .popup__content .popup__block-form .popup__form {
  display: flex;
  flex-direction: column;
}
body .popup .popup__body .popup__content .popup__block-form .popup__form p {
  margin-top: 5px;
  margin-bottom: 14px;
  font-size: 16px;
}
body .popup .popup__body .popup__content .popup__block-form .popup__form p .popup__name {
  color: #01996D;
  margin-bottom: 5px;
}
body .popup .popup__body .popup__content .popup__block-form .popup__form p .popup__input {
  width: 100%;
  height: 35px;
  border: 1px solid #696969;
  border-radius: 3px;
  padding-left: 10px;
}
body .popup .popup__body .popup__content .popup__block-form .popup__form p .popup__checkbox {
  font-size: 10px;
}
body .popup .popup__body .popup__content .popup__block-form .popup__form p .popup__checkbox a {
  text-decoration: underline;
  color: black;
}
body .popup .popup__body .popup__content .popup__block-form .popup__form p .popup__button {
  width: 100%;
  background-color: #01996D;
  padding: 15px;
  color: white;
  border-radius: 8px;
  border: black;
  font-size: 16px;
}
body .popup .popup__body .popup__content .popup__block-form .popup__form p .popup__button:hover {
  transform: scale(1.1);
}
body .popup .popup__body .popup__content .popup__block-text {
  width: 45%;
  font-size: 16px;
}

@media screen and (max-width: 1199px) {
  body .section .container .heading-text, body .section .container .heading-text {
    font-size: 48px;
  }
  body .menu .container .inner .menu__navigation .nav-button {
    padding-right: 32px;
  }
  body .menu .container .inner .menu__buttons-sign-start .menu__buttons {
    margin-right: 8px;
  }
  body .menu .container .green-button {
    padding: 12px 16px;
  }
  body .how-it-works {
    padding-top: 60px;
  }
  body .how-it-works .container .inner {
    display: block;
    text-align: center;
    padding-top: 10px;
  }
  body .how-it-works .container .inner .how-it-works__container .how-it-works__block .how-it-works__text {
    top: 68px;
  }
  body .story {
    display: block;
    text-align: center;
  }
  body .story .container .inner {
    flex-direction: column;
  }
  body .story .container .inner .story__block-text {
    padding-bottom: 30px;
  }
  body .story .container .inner .story__video {
    padding: 0;
    align-self: center;
  }
  body .our-product {
    padding-bottom: 0;
  }
  body .alivio {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 867px) {
  body .section .container .heading-text, body .section .container .heading-text {
    font-size: 32px;
    margin-top: 10px;
  }
  body .menu {
    padding-top: 16px;
  }
  body .menu .container .inner {
    flex-direction: column-reverse;
  }
  body .menu .container .inner img {
    display: none;
  }
  body .menu .container .inner .menu__navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  body .menu .container .inner .menu__buttons-sign-start {
    text-align: right;
  }
  body .alivio .container .alivio__link {
    font-size: 24px;
  }
  body .alivio .container .alivio__link li {
    margin-bottom: 40px;
  }
  body .alivio .container .alivio__link .nav-button {
    padding: 10px;
  }
  body .first-screen {
    height: 100%;
    background-image: url("../images/BG2.png");
    background-size: cover;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  body .first-screen .container .first-screen__heading {
    font-size: 40px;
  }
  body .how-it-works .container .how-it-works__container {
    flex-direction: column;
  }
  body .how-it-works .container .how-it-works__container .how-it-works__block img {
    padding-top: 16px;
  }
  body .how-it-works .container .how-it-works__container .how-it-works__block:nth-child(2) {
    margin-top: 24px;
    padding: 0;
  }
  body .how-it-works .container .how-it-works__container .how-it-works__block:nth-child(3) {
    margin-top: 24px;
  }
  body .story .container .inner .story__video {
    width: 100%;
    height: 100%;
  }
  body .our-product {
    margin-bottom: 160px;
    padding: 0;
  }
  body .our-product .container {
    padding: 0;
  }
  body .our-product .container .inner {
    flex-direction: column-reverse;
  }
  body .our-product .container .inner .our-product__images {
    width: 100%;
  }
  body .our-product .container .inner .our-product__images .our-product__over {
    width: 296px;
    top: 384px;
    left: 14px;
    padding: 16px 12px 16px 12px;
  }
  body .our-product .container .inner .our-product__description {
    padding: 56px 16px 56px 16px;
    text-align: center;
  }
  body .popup .popup__body .popup__content {
    flex-direction: column;
    padding: 32px 0;
    width: 80%;
  }
  body .popup .popup__body .popup__content .popup__block-form {
    width: 80%;
  }
  body .popup .popup__body .popup__content .popup__block-text {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
